<%= turbo_frame_tag task do %>
  <div class="row border-top">
    <div class="col-4">
      <%= checkbox_tag :done, class: "form-check-input" %>
    </div>
    <div class="col-4"><%= task.title %></div>
    <div class="col-4">
      <div class="d-flex">
        <%= link_to "編集", edit_task_path(task), class: "btn btn-sm btn-outline-primary" %>
        <%= button_to "削除", task, method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } }, class: "btn btn-sm btn-outline-danger" %>
      </div>
    </div>
  </div>
<% end %>
